In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("output/German1/tajectories_0.0833333mins.csv",sep=";")

In [10]:
data = data.sort_values(by='time')

In [111]:
min_data = data.loc[data.traj_id.isin([1,2,3,4,5])]

In [112]:
min_data.shape

(189, 8)

In [113]:
unique_trajs = min_data.traj_id.unique()

In [114]:
min_data.time = pd.to_datetime(min_data["time"])
min_data = min_data.set_index("time")

C:\Users\uzair\AppData\Local\Temp\ipykernel_21764\1156489358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  min_data.time = pd.to_datetime(min_data["time"])

In [115]:
min_data.head()

,tag_id,x,y,description,traj_id,velocity,type
time,,,,,,,
2019-08-01 08:00:00,0x002060000F45,8.56,10.44,Cart,1,"(0, 0)",start
2019-08-01 08:00:02,0x002060000F45,6.46,10.57,Cart,1,"(-1.0500000000000003, 0.06500000000000039)",intermediate
2019-08-01 08:00:03,0x002060000F45,5.79,10.56,Cart,1,"(-0.6699999999999999, -0.009999999999999787)",intermediate
2019-08-01 08:00:05,0x002060000F45,3.94,10.53,Cart,1,"(-0.925, -0.015000000000000568)",intermediate
2019-08-01 08:00:07,0x002060000F45,2.64,10.30,Cart,1,"(-0.6499999999999999, -0.11499999999999932)",intermediate

In [116]:
new_data = min_data.resample("1s").ffill()

In [117]:
new_data

,tag_id,x,y,description,traj_id,velocity,type
time,,,,,,,
2019-08-01 08:00:00,0x002060000F45,8.56,10.44,Cart,1,"(0, 0)",start
2019-08-01 08:00:01,0x002060000F45,8.56,10.44,Cart,1,"(0, 0)",start
2019-08-01 08:00:02,0x002060000F45,6.46,10.57,Cart,1,"(-1.0500000000000003, 0.06500000000000039)",intermediate
2019-08-01 08:00:03,0x002060000F45,5.79,10.56,Cart,1,"(-0.6699999999999999, -0.009999999999999787)",intermediate
2019-08-01 08:00:04,0x002060000F45,5.79,10.56,Cart,1,"(-0.6699999999999999, -0.009999999999999787)",intermediate
...,...,...,...,...,...,...,...
2019-08-01 09:27:06,0x002060000F45,21.46,21.02,Cart,5,"(0.5199999999999996, 1.0)",intermediate
2019-08-01 09:27:07,0x002060000F45,21.46,21.02,Cart,5,"(0.5199999999999996, 1.0)",intermediate
2019-08-01 09:27:08,0x002060000F45,21.57,22.66,Cart,5,"(0.03666666666666648, 0.5466666666666669)",intermediate
2019-08-01 09:27:09,0x002060000F45,21.05,24.23,Cart,5,"(-0.5199999999999996, 1.5700000000000003)",intermediate
2019-08-01 09:27:10,0x002060000F45,20.55,25.39,Cart,5,"(-0.5, 1.1600000000000001)",end

In [118]:
min_data.x.resample("1s").mean()

time
2019-08-01 08:00:00     8.56
2019-08-01 08:00:01      NaN
2019-08-01 08:00:02     6.46
2019-08-01 08:00:03     5.79
2019-08-01 08:00:04      NaN
                       ...
2019-08-01 09:27:06      NaN
2019-08-01 09:27:07      NaN
2019-08-01 09:27:08    21.57
2019-08-01 09:27:09    21.05
2019-08-01 09:27:10    20.55
Freq: S, Name: x, Length: 5231, dtype: float64

In [108]:
new_data.x = min_data.x.resample("1s").mean()
new_data.y = min_data.x.resample("1s").mean()
new_data.type = min_data.type.resample("1s").last()

In [109]:
new_data.type = new_data.type.fillna("intermediate")

In [110]:
new_data.interpolate()

,tag_id,x,y,description,traj_id,velocity,type
time,,,,,,,
2019-08-01 08:00:00,0x002060000F45,8.560000,8.560000,Cart,1,"(0, 0)",start
2019-08-01 08:00:01,0x002060000F45,7.510000,7.510000,Cart,1,"(0, 0)",intermediate
2019-08-01 08:00:02,0x002060000F45,6.460000,6.460000,Cart,1,"(-1.0500000000000003, 0.06500000000000039)",intermediate
2019-08-01 08:00:03,0x002060000F45,5.790000,5.790000,Cart,1,"(-0.6699999999999999, -0.009999999999999787)",intermediate
2019-08-01 08:00:04,0x002060000F45,4.865000,4.865000,Cart,1,"(-0.6699999999999999, -0.009999999999999787)",intermediate
...,...,...,...,...,...,...,...
2019-08-01 09:27:06,0x002060000F45,21.496667,21.496667,Cart,5,"(0.5199999999999996, 1.0)",intermediate
2019-08-01 09:27:07,0x002060000F45,21.533333,21.533333,Cart,5,"(0.5199999999999996, 1.0)",intermediate
2019-08-01 09:27:08,0x002060000F45,21.570000,21.570000,Cart,5,"(0.03666666666666648, 0.5466666666666669)",intermediate
2019-08-01 09:27:09,0x002060000F45,21.050000,21.050000,Cart,5,"(-0.5199999999999996, 1.5700000000000003)",intermediate
2019-08-01 09:27:10,0x002060000F45,20.550000,20.550000,Cart,5,"(-0.5, 1.1600000000000001)",end